@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf");
}

:root {
  /* --color-text: #040005;
  --color-background: #fdfcfd;
  --color-primary: #e8e878;
  --color-secondary: #d9ede9;
  --color-accent: #6926ab; */

  --color-text: #2a2a2a;
  --color-background: #ffffff;
  --color-primary: #4730bb;
  --color-secondary: #f0ecec;
  --color-accent: #703ba5;

  --color-primary-foreground: #040005;
  --color-secondary-foreground: var(--color-text);
  --color-accent-foreground: #fdfcfd;
}

.dark {
  /* --color-text: #fdfcfd;
  --color-background: #070702;
  --color-primary: #e8e878;
  --color-secondary: #31310c;
  --color-accent: #e524e5; */

  --color-text: #ffffff;
  --color-background: #020104;
  --color-primary: #4730bb;
  --color-secondary: #261e1e;
  --color-accent: #bc9ddc;
}

@keyframes fade-in-and-slide-up {
  from {
    opacity: 0.1;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
